/*
主题名称: 子贵网样式表
描述: 全局公用样式表
作者: 李建
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}
body {
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	background: #fff;
	color: #666;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	width: 100%;
	margin: 0px auto;
}
ol, ul, dl {
    list-style: none;
    list-style-type: none;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
}

/* 公用样式 */
.fl{
	float:left;
}
.fr{
	float:right;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.hid{
	display:none;
}
.b{
	font-weight:bold;
}
.n{
	font-weight:normal;
}
.mgt10{
	margin-top:10px;
}
.mgt20{
	margin-top:20px;
}

/* 字体 */
.blue{
	color:#01aef0;
}
.red{
	color:#dd3131;
}
.green{
	color:#119200;
}
.font12{
	font-size:12px;
}
.font14{
	font-size:14px;
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.black{
	color:#333;
}
.gray{
	color:#979797;
}
.grayL{
	color:#999;
}
.zise{
	color:#3f5889;
}
.orange{
	color:#fda624;
}
.white{
	color:#fff;
}


/* 报错页 */
.wrong{
	text-align:center;
	line-height:140%;
	padding-top:30px;
}
.wrong img{
	margin:30px 0;
}